@{
    ViewData["Title"] = "AboutUs";
}

<body class="starter-page-page">
    <main class="main">
    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">Starter Page</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li class="current">Starter Page</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>About Us</h2>
            @* <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>*@
            <p>We Provide Amazing Solutions</p>
        </div>
        <!-- End Section Title -->

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                    <p class="who-we-are">Who We Are</p>
                    @* <h3>Unleashing Potential with Creative Strategy</h3>*@
                    <p class="fst-italic">
                        Our mission is to discover, develop and deliver innovative Software solutions that improve productivity, profitability and result in superior customer service and satisfaction.
                        @*Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.*@
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> <span>We builds profitable growth through superior customer service, technology, innovation, quality and commitment.</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>We put our Customers first and strive to secure their loyalty through top quality products & services.</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>We do our best to help them to grow and become Monopolist in their business. We strive to build long-term client relationships based on mutual trust and respect..</span></li>
                    </ul>
                    <a href="AboutUs" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                </div>
                <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
                    <div class="row gy-4">
                        <div class="col-lg-6">
                            <img src="assets/img/about-company-1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6">
                            <div class="row gy-4">
                                <div class="col-lg-12">
                                    <img src="assets/img/about-company-2.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-lg-12">
                                    <img src="assets/img/about-company-3.jpg" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /About Section -->

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Why Choose Us?</h2>
        <p>DESAI INFOTECH PRIVATE LIMITED dedicated to provide products and services of such quality that our customers will receive superior value while our employees and business partners will share in our success.</p>
    </div>
    <!-- End Section Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-box">
                        <h4>Qualities List</h4>
                        <div class="services-list">
                            <a href="#detailsOfQualities"><i class="bi bi-arrow-right-circle"></i><span>Expertise</span></a>
                            <a href="#detailsOfQualities"><i class="bi bi-arrow-right-circle"></i><span>Experience</span></a>
                            <a href="#detailsOfQualities"><i class="bi bi-arrow-right-circle"></i><span>Passionate</span></a>
                            <a href="#detailsOfQualities"><i class="bi bi-arrow-right-circle"></i><span>Innovation</span></a>
                            <a href="#detailsOfQualities"><i class="bi bi-arrow-right-circle"></i><span>Quality Assurance</span></a>
                            <a href="#detailsOfQualities"><i class="bi bi-arrow-right-circle"></i><span>Customer Satisfaction</span></a>
                            <a href="#detailsOfQualities"><i class="bi bi-arrow-right-circle"></i><span>Leadership In Technology</span></a>
                        </div>
                    </div>
                    <!-- End Services List -->

                    <div class="service-box">
                        <h4>Download Catalog</h4>
                        <div class="download-catalog">
                            <a href="#"><i class="bi bi-filetype-pdf"></i><span>Catalog PDF</span></a>
                            <a href="#"><i class="bi bi-file-earmark-word"></i><span>Catalog DOC</span></a>
                        </div>
                    </div>
                    <!-- End Services List -->

                    <div class="help-box d-flex flex-column justify-content-center align-items-center">
                        <i class="bi bi-headset help-icon"></i>
                        <h4>Have a Question?</h4>
                        <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <span>+1 5589 55488 55</span></p>
                        <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:contact@example.com">contact@example.com</a></p>
                    </div>
                </div>

                <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
                    <img src="assets/img/services.jpg" alt="" class="img-fluid services-img">
                    <h3>DESAI INFOTECH PRIVATE LIMITED builds profitable growth through superior customer service, technology, innovation, quality and commitment.</h3>
                    <p>
                        Our mission is to discover, develop and deliver innovative Software solutions that improve productivity, profitability and result in superior customer service and satisfaction..
                    </p>
                    <ul id="detailsOfQualities">
                        <li>
                            <i class="bi bi-check-circle"></i>
                            Passion for innovation and desperation for excellence are our core expertise. We develop a unique range of software solutions to meet business challenges.
                        </li>
                        <li>
                            <i class="bi bi-check-circle"></i>
                            We have years of experience in Software development. We love discussing and planning new projects and have years of knowledge and experience that we bring to the table.
                        </li>
                        <li>
                            <i class="bi bi-check-circle"></i>
                            We love nothing more that working on a great project with a fantastic client. We care about our clients and can often be found working out of hours to get everything ‘just right’!.
                        </li>
                        <li>
                            <i class="bi bi-check-circle"></i>
                            We always implementing new ideas, creating dynamic products, improving existing services for the growth and success of customers.
                        </li>
                        <li>
                            <i class="bi bi-check-circle"></i>
                            We well known for qualitative products & services. Before we offer the product/services we check its ability to fulfill the customer's needs and expectations. Our all software products are well tested before they deliver to the clients.
                        </li>
                        <li>
                            <i class="bi bi-check-circle"></i>
                            Customers are our priority and customer satisfaction is our commitment. We always strives to do best to meet customers’ expectations.
                        </li>
                        <li>
                            <i class="bi bi-check-circle"></i>
                            To provide solution & support of highest quality conforming to the agreed specifications, adopting the latest technologies and cost effective to small and developing Businesses which help them to grow and become Monopolist in their business.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- /Service Details Section -->

    <!-- Clients Section -->
    <section id="clients" class="clients section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Our Clients</h2>
        </div>
        <!-- End Section Title -->
        <div class="container" data-aos="fade-up">
            <div class="row gy-4">
                `
                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
                </div>
                <!-- End Client Item -->

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
                </div>
                <!-- End Client Item -->

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
                </div>
                <!-- End Client Item -->

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
                </div>
                <!-- End Client Item -->

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
                </div>
                <!-- End Client Item -->

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
                </div>
                <!-- End Client Item -->
            </div>
        </div>
    </section>
    <!-- /Clients Section -->
    </main>
</body>