@{
    ViewData["Title"] = "Home Page";
}

<body class="index-page">
    <main class="main">
        <!-- Hero Section -->
        <section id="hero" class="hero section">
            <div class="hero-bg">
                <img src="assets/img/background-banner.jpg" alt="">
            </div>
            <div class="container text-center">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h1 data-aos="fade-up">Welcome to <span>Desai Infotech</span></h1>
                    <p data-aos="fade-up" data-aos-delay="100">Better Solutions For Your Business.Quickly start your project now and set the stage for success<br></p>
                    <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                        <a href="#about" class="btn-get-started">Get Started</a>
                        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                    </div>
                    <img src="" class="img-fluid hero-img" alt="" data-aos="zoom-out" data-aos-delay="300">
                </div>
            </div>
        </section>
        <!-- /Hero Section -->

        <section id="about" class="about section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>About Us</h2>

            </div>
            <!-- End Section Title -->

            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
                        <img src="assets/img/about-company.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                        <p>
                            Desai infotech is a leading IT services and consulting company. We provide solutions and services across application and technology modernization, cloud enablement, data management, automation and assurance services.This is a premier india-based software development company dedicated to providing optimal and affordable solutions across various industries including schools, colleges, coaching & training institutions, real estate, service providers, travel agencies, consultancy, retailors, enterprises and many other businesses. Our cutting-edge software solutions drive revenue growth, enhance profitability, and optimize operational efficiency, empowering businesses to thrive in today's competitive landscape.
                        </p>
                        <a href="AboutUs" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Featured Services Section -->
        <section id="featured-services" class="featured-services section light-background">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item d-flex">
                            <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
                            <div>
                                <h4 class="title"><a href="#" class="stretched-link">Focus</a></h4>
                                <p class="description">Focus on what you want to achieve.</p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->
                    <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-item d-flex">
                            <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
                            <div>
                                <h4 class="title"><a href="#" class="stretched-link">Set clear goals</a></h4>
                                <p class="description">Set specific goals and make sure to be clear about what you want to achieve.</p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->
                    <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-item d-flex">
                            <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
                            <div>
                                <h4 class="title"><a href="#" class="stretched-link">Make a plan</a></h4>
                                <p class="description">Figure out how and by when you'll achieve your goals.</p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->
                </div>
            </div>
        </section>
        <!-- /Featured Services Section -->
        <!-- Features Section -->
        @*  <section id="features" class="features section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
        <h2>Features</h2>
        <p>DESAI INFOTECH PRIVATE LIMITED is based on innovation, creativity and knowledge. We have offered world class services in software development, testing, windows and web applications.</p>
        </div>
        <!-- End Section Title -->
        <div class="container">
        <div class="row justify-content-between">
        <div class="col-lg-6 d-flex align-items-center">
        <ul class="nav nav-tabs" data-aos="fade-up" data-aos-delay="100">
        <li class="nav-item">
        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
        <i class="bi bi-brightness-high"></i>
        <div>
        <h4 class="d-none d-lg-block">Our Mission</h4>
        <p>
        Our mission is to discover, develop and deliver innovative Software solutions that improve productivity, profitability and result in superior customer service and satisfaction.
        </p>
        </div>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
        <i class="bi bi-box-seam"></i>
        <div>
        <h4 class="d-none d-lg-block">Our Philosophy</h4>
        <p>
        We put our Customers first and strive to secure their loyalty through top quality products & services.
        </p>
        </div>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
        <i class="bi bi-binoculars"></i>
        <div>
        <h4 class="d-none d-lg-block">Our Vision</h4>
        <p>
        To become 4th basic needs of customers along with Food, Shelter & Clothing.
        </p>
        </div>
        </a>
        </li>
        </ul><!-- End Tab Nav -->
        </div>
        <div class="col-lg-5">
        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">
        <div class="tab-pane fade active show" id="features-tab-1">
        <img src="assets/img/tabs-1.jpg" alt="" class="img-fluid">
        </div>
        <!-- End Tab Content Item -->

        <div class="tab-pane fade" id="features-tab-2">
        <img src="assets/img/tabs-2.jpg" alt="" class="img-fluid">
        </div>
        <!-- End Tab Content Item -->

        <div class="tab-pane fade" id="features-tab-3">
        <img src="assets/img/tabs-3.jpg" alt="" class="img-fluid">
        </div>
        <!-- End Tab Content Item -->
        </div>
        </div>
        </div>
        </div>
        </section>*@
        <!-- /Features Section -->
        <!-- More Features Section -->
        <section id="more-features" class="more-features section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Features</h2>
                <p>DESAI INFOTECH PRIVATE LIMITED is based on innovation, creativity and knowledge. We have offered world class services in software development, testing, windows and web applications.</p>
            </div>
            <!-- End Section Title -->
            <div class="container">
                <div class="row justify-content-around gy-4">
                    <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                        <h3>Features For Business Success</h3>
                        @*<p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi</p>*@
                        <div class="row">
                            <div class="col-lg-6 icon-box d-flex">
                                <i class="bi bi-brightness-high flex-shrink-0"></i>
                                <div>
                                    <h4>Easy Interface</h4>
                                    <p>Our all products are user friendly. Users can start work within few minutes. They all are very simple and easy to use applications.</p>
                                </div>
                            </div>
                            <!-- End Icon Box -->

                            <div class="col-lg-6 icon-box d-flex">
                                <i class="bi bi-brightness-high flex-shrink-0"></i>
                                <div>
                                    <h4>Client Focus</h4>
                                    <p>Our process of providing customer satisfaction is based on an understanding of what customers want and need.</p>
                                </div>
                            </div>
                            <!-- End Icon Box -->

                            <div class="col-lg-6 icon-box d-flex">
                                <i class="bi bi-brightness-high flex-shrink-0"></i>
                                <div>
                                    <h4>Best Assurance</h4>
                                    <p>Our professional team test each product deliverable to ensure all requirements and specifications are met.</p>
                                </div>
                            </div>
                            <!-- End Icon Box -->

                            <div class="col-lg-6 icon-box d-flex">
                                <i class="bi bi-brightness-high flex-shrink-0"></i>
                                <div>
                                    <h4>Our Commitment</h4>
                                    <p>Est voluptatem labore deleniti quis a delectus et. Saepe dolorem libero sit</p>
                                </div>
                            </div>
                            <!-- End Icon Box -->

                            <div class="col-lg-6 icon-box d-flex">
                                <i class="bi bi-brightness-high flex-shrink-0"></i>
                                <div>
                                    <h4>Our Expertise</h4>
                                    <p>Est voluptatem labore deleniti quis a delectus et. Saepe dolorem libero sit</p>
                                </div>
                            </div>
                            <!-- End Icon Box -->

                            <div class="col-lg-6 icon-box d-flex">
                                <i class="bi bi-brightness-high flex-shrink-0"></i>
                                <div>
                                    <h4>Dedicated Team</h4>
                                    <p>Est voluptatem labore deleniti quis a delectus et. Saepe dolorem libero sit</p>
                                </div>
                            </div>
                            <!-- End Icon Box -->
                        </div>
                    </div>

                    <div class="features-image col-lg-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
                        <img src="assets/img/features-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- /More Features Section -->
        <!-- Features Details Section -->
        @* <section id="features-details" class="features-details section">
        <div class="container">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
        <h2>Our Work Process</h2>
        <p>DESAI INFOTECH PRIVATE LIMITED is based on innovation, creativity and knowledge. We have offered world class services in software development, testing, windows and web applications.</p>
        </div>
        <!-- End Section Title -->
        <div class="row gy-4 justify-content-between features-item">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/img/features-1.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-5 d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
        <h3>Make Plan</h3>
        <p>
        Make a concept of the software and our development team analyse all the requirements of the user.
        </p>
        <a href="#" class="btn more-btn">Learn More</a>
        </div>
        </div>
        </div>
        <!-- Features Item -->

        <div class="row gy-4 justify-content-between features-item">
        <div class="col-lg-5 d-flex align-items-center order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
        <div class="content">
        <h3>Make Design</h3>
        <p>
        Next step is to bring down whole knowledge of requirements and analysis on the desk and design the product.
        </p>
        <ul>
        <li><i class="bi bi-easel flex-shrink-0"></i> Et corporis ea eveniet ducimus.</li>
        <li><i class="bi bi-patch-check flex-shrink-0"></i> Exercitationem dolorem sapiente.</li>
        <li><i class="bi bi-brightness-high flex-shrink-0"></i> Veniam quia modi magnam.</li>
        </ul>
        <p></p>
        <a href="#" class="btn more-btn">Learn More</a>
        </div>
        </div>

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
        <img src="assets/img/features-2.jpg" class="img-fluid" alt="">
        </div>
        </div>

        <!-- Features Item -->

        <div class="row gy-4 justify-content-between features-item">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/img/features-1.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-5 d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
        <h3>Development</h3>
        <p>
        The implementation of product design starts in terms of writing program code in the suitable programming language and developing error-free executable programs efficiently.
        </p>
        <a href="#" class="btn more-btn">Learn More</a>
        </div>
        </div>
        </div>

        <!-- Features Item -->

        <div class="row gy-4 justify-content-between features-item">
        <div class="col-lg-5 d-flex align-items-center order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
        <div class="content">
        <h3>Product Release</h3>
        <p>
        After develop the product its going to test and then well tested prodct is ready to launch for client.
        </p>
        <ul>
        <li><i class="bi bi-easel flex-shrink-0"></i> Et corporis ea eveniet ducimus.</li>
        <li><i class="bi bi-patch-check flex-shrink-0"></i> Exercitationem dolorem sapiente.</li>
        <li><i class="bi bi-brightness-high flex-shrink-0"></i> Veniam quia modi magnam.</li>
        </ul>
        <p></p>
        <a href="#" class="btn more-btn">Learn More</a>
        </div>
        </div>

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
        <img src="assets/img/features-2.jpg" class="img-fluid" alt="">
        </div>
        </div>
        </div>
        </section>*@
        <!-- /Features Details Section -->
        <!-- Services Section -->
        <section id="services" class="services section light-background">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Services</h2>
            </div>
            <!-- End Section Title -->
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <a href="#" class="service-item services-img" style="background-image: url('assets/img/enterprise-applications.jpg');">
                            <div>
                                <label class="service-lable">Enterprise Applications</label>
                                @*<a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>*@
                            </div>
                        </a>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                        <a href="#" class="service-item services-img" style="background-image: url('assets/img/it-professional-services.jpg');">
                            <div>
                                <label class="service-lable">IT Professional</label>
                                @*<a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>*@
                            </div>
                        </a>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                        <a href="#" class="service-item services-img" style="background-image: url('assets/img/it-managed-services.jpg');">
                            <div>
                                <label class="service-lable">IT Managed</label>
                                @*<a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>*@
                            </div>
                        </a>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
                        <a href="#" class="service-item services-img" style="background-image: url('assets/img/robotic-process-automation.jpg');">
                            <div>
                                <label class="service-lable">Robotic Process Automation</label>
                                @*<a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>*@
                            </div>
                        </a>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="500">
                        <a href="#" class="service-item services-img" style="background-image: url('assets/img/cybersecurity-services.jpg');">
                            <div>
                                <label class="service-lable">Cyber Security</label>
                                @*<a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>*@
                            </div>
                        </a>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="600">
                        <a href="#" class="service-item services-img" style="background-image: url('assets/img/database-management-services.jpg');">
                            <div>
                                <label class="service-lable">Database Management</label>
                                @*<a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>*@
                            </div>
                        </a>
                    </div>
                    <!-- End Service Item -->
                </div>
            </div>
        </section>
        <!-- /Services Section -->
        <!-- Testimonials Section -->
        <section id="testimonials" class="testimonials section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>What Our Client Say</h2>
                <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
            </div>
            <!-- End Section Title -->
            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper init-swiper">
                    <div class="swiper-wrapper">
                        <script type="application/json" class="swiper-config">
                            {
                              "loop": true,
                              "speed": 600,
                              "autoplay": {
                                "delay": 5000
                              },
                              "slidesPerView": "auto",
                              "pagination": {
                                "el": ".swiper-pagination",
                                "type": "bullets",
                                "clickable": true
                              },
                              "breakpoints": {
                                "320": {
                                  "slidesPerView": 1,
                                  "spaceBetween": 40
                                },
                                "1200": {
                                  "slidesPerView": 3,
                                  "spaceBetween": 1
                                }
                              }
                            }
                        </script>
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                    <h3>Saul Goodman</h3>
                                    <h4>Ceo &amp; Founder</h4>
                                </div>
                            </div>
                        </div>
                        <!-- End testimonial item -->
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                                    <h3>Sara Wilsson</h3>
                                    <h4>Designer</h4>
                                </div>
                            </div>
                        </div>
                        <!-- End testimonial item -->
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                                    <h3>Jena Karlis</h3>
                                    <h4>Store Owner</h4>
                                </div>
                            </div>
                        </div>
                        <!-- End testimonial item -->
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                                    <h3>Matt Brandon</h3>
                                    <h4>Freelancer</h4>
                                </div>
                            </div>
                        </div>
                        <!-- End testimonial item -->
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                                </p>
                                <div class="profile mt-auto">
                                    <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                                    <h3>John Larson</h3>
                                    <h4>Entrepreneur</h4>
                                </div>
                            </div>
                        </div>
                        <!-- End testimonial item -->
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section>
        <!-- /Testimonials Section -->
    </main>
</body>

<script>
    $(document).ready(function () {
        console.log("ready!");
    });
</script>